# 🌐 API EXTERNA (Client-side only)
NEXT_PUBLIC_API_BASE_URL=https://jsonplaceholder.typicode.com

# 📱 APLICAÇÃO
NEXT_PUBLIC_APP_NAME=Alumni Fatec Sorocaba
NEXT_PUBLIC_APP_VERSION=1.0.0

# 🔧 DESENVOLVIMENTO
NODE_ENV=development
