@import "tailwindcss";

:root {
  --color-primary: #ae0c0d;
  --color-secondary: #44555d;
  --color-tertiary: #243e63;
  --color-accent: #00c1cf;
  --color-info: #005c6d;
  --color-muted: #f2f2f2;
}

@layer base {
  body {
    background-color: #f2f2f2;
    color: #44555d;
    font-family: Arial, Helvetica, sans-serif;
  }
}
